body {
  font-family: Google Sans, arial, sans-serif;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}


.weather-temperature img {
  margin-bottom: 10px;
  height: 60px;
  width: 60px;
}

.weather-details {
  color: #70757a;
}
